<div id="clearance" class="sign-up">
  <h2>Book your sitting service></h2>

  <%= form_for @booking do |form| %>
    <%= render partial: 'form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

  <% end %>
