<div class="container">
  <div class="bookings-container">
    <div class="booking-card-title">
      Book Your Sitting Service
    </div>
    <div class="booking-card">
      <%= form_for @booking do |form| %>
        <%= render partial: 'form', object: form %>

        <div class="submit-field">
          <%= form.submit "Create Booking", class: 'cta book submit'%>
        </div>

      <% end %>
    </div>
  </div>
</div>