<div class="home">
  <div id='home_featured_top'>
    <div class="feat-block">
      
      <h2>Cat/Dog Sitting<span>The Modern Way</span></h2>
      <br>
      <span><%= link_to 'BOOK NOW', new_booking_path, class: "cta book", title: 'Book Online' %></span>
      <span><%= link_to 'ADMIN', admin_path, class: "cta admin", title: 'Admin' %></span>
        
      
      </div>
    <video autoplay="" loop="" muted="" playsinline="" id="bgvid" poster="https://goloadup.com/wp-content/uploads/2021/07/loadup-hero-poster.jpg">
      <source src="https://goloadup.com/wp-content/uploads/2021/07/loadup-modern-junk-removal.mp4" type="video/mp4">
    </video>
  </div> 
</div>