// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bookings-container{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  padding: 10px;
  width: 20%;
  /* or height: 9.5in; */
  background-color: white;
}

.booking-card-title{
  text-align: center;
  font-size: 23px;
  font-weight: 600;
}

.booking-card{
  margin: 10px;
}

.booking-info{
  font-size: 22px;
  column-count: 2;
  column-gap: 110px;
  margin-bottom: 15px;
  border-bottom: 1px dotted rgba(128,128,128,.3);
}

hr {
  opacity: 30%;
  margin-bottom: 20px;
}

.bold{
  font-weight: bold;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}