// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bookings-container{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  padding: 10px;
  width: 30%;
  /* or height: 9.5in; */
  background-color: white;
}

// .container{
//   margin-top: 200px;
// }