// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#notice{
  color: green;
}

#alert{
  color: red
}

#alert, #notice{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.feat-block {
  position: absolute;
  z-index: 1;
  padding: 0 30px;
  margin: 100px auto 0;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 650px;
}

.home span + span {
  margin-left: 10px;
}

#logo{
  z-index: 1;
  position: relative;
  left: 0;
  
}
#bgvid {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 19px solid #ddd;
  z-index: 0;
}

.cta{
  color: #fff;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .6px;
  border-radius: 99999rem;
  box-shadow: 0px 5px 0px #cecccc;
}
.admin {
  border: 3px solid #80EAF1;
  background: #84d3d8;
  text-shadow: -1px -1px 2px #55b4b8;
}
.book{
  border: 3px solid #9ccd65;
  background: rgb(175, 216, 144);
  text-shadow: -1px -1px 2px #73c035;
}

.cta-admin {
  color: #fff;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .6px;
  border-radius: 99999rem;
  border: 3px solid #80EAF1;
  background: #84d3d8;
  box-shadow: 0px 5px 0px #cecccc;
  text-shadow: -1px -1px 2px #55b4b8;
}

#home_featured_top h2 {
  font-size: 73px;
  padding-top: 50px;
  line-height: 1.1;
  color: #262828;
  text-transform: uppercase;
  margin: 0 auto;
}

.home h2 {
  font-size: 4.8rem;
  font-weight: 900;
  letter-spacing: -.1rem;
  line-height: 52px;
}

#home_featured_top h2 span {
  clear: both;
  display: block;
  font-size: 42px;
  margin-bottom: 33px;
}